<div class="agile-sometext py-md-5 py-sm-4 py-3">
    <div class="container">
        <!-- brands -->
        <div class="sub-some">
            <h5 class="font-weight-bold mb-2">Mobile & Tablets :</h5>
            <ul>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2">Android Phones</a>
                </li>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2">Smartphones</a>
                </li>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2">Feature Phones</a>
                </li>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2">Unboxed Phones</a>
                </li>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2">Refurbished Phones</a>
                </li>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2"> Tablets</a>
                </li>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2">CDMA Phones</a>
                </li>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2">Value Added Services</a>
                </li>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2">Sell Old</a>
                </li>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2">Used Mobiles</a>
                </li>
            </ul>
        </div>
        <div class="sub-some mt-4">
            <h5 class="font-weight-bold mb-2">Computers :</h5>
            <ul>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2">Laptops </a>
                </li>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2">Printers</a>
                </li>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2">Routers</a>
                </li>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2">Ink & Toner Cartridges</a>
                </li>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2">Monitors</a>
                </li>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2">Video Games</a>
                </li>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2">Unboxed & Refurbished Laptops</a>
                </li>
                <li>
                    <a href="product.html" class="border-right pr-2">Assembled Desktops</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Data Cards</a>
                </li>
            </ul>
        </div>
        <div class="sub-some mt-4">
            <h5 class="font-weight-bold mb-2">TV, Audio & Large Appliances :</h5>
            <ul>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">TVs & DTH</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Home Theatre Systems</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Hidden Cameras & CCTVs</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Refrigerators</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Washing Machines</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2"> Air Conditioners</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Cameras</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Speakers</a>
                </li>
            </ul>
        </div>
        <div class="sub-some mt-4">
            <h5 class="font-weight-bold mb-2">Mobile & Laptop Accessories :</h5>
            <ul>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Headphones</a>
                </li>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2">Power Banks </a>
                </li>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2">Backpacks</a>
                </li>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2">Mobile Cases & Covers</a>
                </li>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2">Pen Drives</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">External Hard Disks</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2"> Mouse</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Smart Watches & Fitness Bands</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">MicroSD Cards</a>
                </li>
            </ul>
        </div>
        <div class="sub-some mt-4">
            <h5 class="font-weight-bold mb-2">Appliances :</h5>
            <ul>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Trimmers</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Hair Dryers</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Emergency Lights</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Water Purifiers </a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Electric Kettles</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Hair Straighteners</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Induction Cooktops</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Sewing Machines</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2"> Geysers</a>
                </li>
            </ul>
        </div>
        <div class="sub-some mt-4">
            <h5 class="font-weight-bold mb-2">Popular on Electro Store</h5>
            <ul>
                <li class="m-sm-1">
                    <a href="product.html" class="border-right pr-2">Offers & Coupons</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Couple Watches</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Gas Stoves</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2"> Air Coolers</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Air Purifiers</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Headphones</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2"> Headsets</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Pressure Cookers</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Sandwich Makers</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Air Friers</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Irons</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">LED TV</a>
                </li>
                <li class="m-sm-1">
                    <a href="product2.html" class="border-right pr-2">Sandwich Makers</a>
                </li>
            </ul>
        </div>
        <!-- //brands -->
        <!-- payment -->
        <div class="sub-some child-momu mt-4">
            <h5 class="font-weight-bold mb-3">Payment Method</h5>
            <ul>
                <li>
                    <img src="/Assets/Client/images/pay2.png" alt="">
                </li>
                <li>
                    <img src="/Assets/Client/images/pay5.png" alt="">
                </li>
                <li>
                    <img src="/Assets/Client/images/pay1.png" alt="">
                </li>
                <li>
                    <img src="/Assets/Client/images/pay4.png" alt="">
                </li>
                <li>
                    <img src="/Assets/Client/images/pay6.png" alt="">
                </li>
                <li>
                    <img src="/Assets/Client/images/pay3.png" alt="">
                </li>
                <li>
                    <img src="/Assets/Client/images/pay7.png" alt="">
                </li>
                <li>
                    <img src="/Assets/Client/images/pay8.png" alt="">
                </li>
                <li>
                    <img src="/Assets/Client/images/pay9.png" alt="">
                </li>
            </ul>
        </div>
        <!-- //payment -->
    </div>
</div>